<!DOCTYPE HTML>
<html>
	<head>
		<title>Breno da Mata - Software Developer</title>
		<meta charset="UTF-8">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="stylesheets/ie/html5shiv.js"></script><![endif]-->
		<script src="javascripts/jquery.min.js"></script>
		<script src="javascripts/jquery.poptrox.min.js"></script>
		<script src="javascripts/skel.min.js"></script>
		<script src="javascripts/init.js"></script>
			<link rel="stylesheet" href="stylesheets/skel-noscript.css" />
			<link rel="stylesheet" href="stylesheets/style.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="stylesheets/ie/v8.css" /><![endif]-->
	</head>

	<body>

		<%= yield %>

	</body>

</html>